
<header th:fragment="navigation" class="head-wrapper flex">
    <div class="logo">
        <a class="purple-h1" href="/">Purple Spider</a>
        <h2>the last web agency you will ever need</h2>
    </div>
    <nav class="main-nav">
        <ul class="nav-container flex">

            <th:block sec:authorize="!isAuthenticated()">
                <li class="link-style">
                    <a class="buttons" th:href="@{/users/register}">Register</a>
                </li>
                <li class="link-style">
                    <a class="buttons" th:href="@{/users/login}">Login</a>
                </li>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <li class="link-style">
                    <a class="buttons" th:href="@{/pictures/add}">Add Picture</a>
                </li>

                <li class="link-style">
                    <form  method="POST" th:action="@{/users/logout}">
                        <button type="submit" name="submit" value="value" class="buttons">Logout
                        </button>
                    </form>
                </li>
            </th:block>

        </ul>

    </nav>
</header>